.menu-container {
    opacity: 0;
}

.toggler {
    position: absolute;
	top: -20px;
	right: -10px;
	width: 50px;
	height: 90px;
	z-index: 13;
	opacity: 0;
    cursor: pointer;
}

.hamburger {
	position: absolute;
	top: -20px;
	right: -10px;
	width: 50px;
	height: 90px;
	z-index: 12;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	/* background:#111; */
	background: transparent;
}

.hamburger div {
    position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: var(--main-color);
	transition: .4s;
}

.hamburger div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: var(--main-color);
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: var(--main-color);
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger div:before,
.toggler:checked + .hamburger div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu {
    position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
    visibility: hidden;
    /* display: none; */
    transition: .6s;
    z-index: 10;
}

.menu ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(100%);
    transition: .6s;
}

.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu ul{
    transform: translateX(0);
}
