@media (max-width: 992px) {
    .container {
        margin: 20px 50px;
    }
    .container::before {
        display: none;
    }
    nav {
        padding: 0;
    }

    nav ul li:nth-child(3) a,
    nav ul li:nth-child(4) a 
    {
    color: #333;
    }
    .controls li {
        filter: invert(1);
    }

    .main-text h2 {
        font-size: 35px;
    }

    main {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    main .main-image {
        width: 100%;
        height: 40vh;
        margin: 30px 0;
    }

    main .main-text {
        max-width: 100%;
        margin-right: 0;
    }

    nav ul {
        display: initial;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        /* z-index: 10; */
        padding: 100px 0;
        opacity: 0;
    }

    .menu ul li {
        text-align: center;
        padding: 5px;
    }

    .menu ul li a {
        font-size: 36px;
        color: #333;
        position: relative;
        display: inline-block;
        padding: 10px;
    
    }

    .menu ul li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--main-color);
        z-index: -1;
        transition: 0.5s ease-in-out;
    }

    .menu ul li a:hover::before, 
    .menu ul li a.active::before 
    {
        width: 100%;
    }

    .menu-container {
        opacity: 1;
        z-index: 200;
    }

    .controls {
        position: absolute;
        top: 57vh;
        right: 0.5vw;
    }

    .social-media {
        margin-top: 30px;
    }

}




@media (max-width: 612px) {
    .container {
        margin: 20px 20px;
    }

    .logo {
        font-size: 20px;
        padding-top: 13px;
    }

    .main-text h2 {
        font-size:  24px;
    }

    .main-text p {
        font-size: 14px;
    }

}